.nav-item {
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  height: 100%;
  
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  padding: 16px 10px;
  box-sizing: border-box;
  display: block;
  height: 100%;
}
.nav-item a:hover {
    background-color: rgb(163, 0, 0);
    color: #000;

}