.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  z-index: 999;
  justify-content: center;
  align-items: center;
  padding: 20px;
  left: 40%;
  top: 10%;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.3s ease-out;
  overflow: visible;
}

@media (max-width: 60rem) {
  .modal {
    width: 60%;
    height: 95%;
  }
}
