.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin: 10px;
}
.danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.danger:hover {
  color: #d9534f;
  background-color: #fafafa;
  border-color: #d43f3a;
}

.success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.success:hover {
  color: #5cb85c;
  background-color: #ffffff;
  border-color: #4cae4c;
}
